.narrowDownBtn{
    display: flex;
    justify-content: right;
}

.narrowDown{
    background-color: #E7CDCF;
    color: #fff;
    font-weight: bold;
    padding: 9px 48px;
    font-size: var(--font-md);
}

.new{
    color: #C23B55;
}

.date{
    font-size: var(--font-lg);
}
.cosmetics{
    font-size: var(--font-base);
}
.lip{
    background-color: #F6CEAC;
    padding: 8px 38px;
}
.eyeshadow{
    background-color: #F6DFAC;
    padding: 8px 38px;
}
.title{
    font-size: var(--font-base);
    margin-top: 8px;
}

.topWrap{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.middleWrap{
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
    img{
        width: 340px;
        height: auto;
    }
    .date{
        font-size: var(--font-md);
    }
    .lip{
        padding: 8px 20px;
    }
    .title{
        font-size: var(--font-sm);
    }
}
.bottomWrap{
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
    img{
        width: 340px;
        height: auto;
    }
    .date{
        font-size: var(--font-md);
    }
    .eyeshadow{
        padding: 8px 20px;
    }
    .title{
        font-size: var(--font-sm);
    }
}
.category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.see{
    display: block;
    margin: 80px auto 0 auto;
}