.eyebrowWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
}
.noseWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
}

.mode{
    background-color: #e7cdcf;
    color: #fff;
    padding: 21px 43px 17px 43px;
    font-size: var(--font-md);
    margin-top: 140px;
}

.thumbnailWrap{
    display: flex;
    flex-direction: column;
}
.disabled:first-child{
    filter: grayscale(80%) blur(2px) brightness(80%);
    opacity: 0.6;
    z-index: 1;
}
.thumbnail{
    position: relative;
    width: 100%;
    span{
        font-size: 48px;
    }
    p{
        font-size: var(--font-base);
        position: absolute;
        bottom: 56px;
        left: 114px;
        z-index: 10;
        text-align: center;
    }
    .keyIcon{
        position: absolute;
        z-index: 50;
        bottom: 24px;
        left: 240px;
}
.movieTitle{
    font-size: var(--font-base);
}
.timeWrap{
    display: flex;
    gap: 16px;
    align-items: center;
}
}

.moreBtn{
    color: #FFF;
    background-color: #e7cdcf;
    padding: 8px 100px;
    display: block;
    margin: 80px auto 0 auto;
    font-weight: bold;
}
h2{
    font-size: var(--font-lg);
    text-align: center;
    margin-top: 120px;
}

.introductionWrap{
    display: flex;
    gap: 128px;
    margin-top: 88px;
    /*サムネイルクラスの中のp*/
    .thumbnail>p{
        font-size: var(--font-md);
        position: absolute;
        bottom: 56px;
        left: 116px;
    }
}