.top{
    display: flex;
    justify-content: center;
    margin-top: 88px;
    gap: 64px;
}

.profileWrap{
    p{
        font-size: var(--font-md);
    }
}
.profileItemWrap{
    margin-top: 48px;
}
.profileItem{
    display: flex;
    gap: 16px;
}
.upperPart{
    display: flex;
    align-items: center;
    gap: 120px;
}