.top{
    display: flex;
    justify-content: center;
    margin-top: 88px;
    gap: 64px;
}

.profileWrap{
    p{
        font-size: var(--font-md);
    }
}
.profileItemWrap{
    margin-top: 48px;
}
.profileItem{
    display: flex;
    align-items: center;
    gap: 16px;
    img{
        width: 64px;
        height: 64px;
    }
}
.upperPart{
    display: flex;
    align-items: center;
    gap: 120px;
    margin-bottom: 32px;
}

.achievementWrap{
    text-align: left;
}
.graph{
    margin-top: 80px;
}
.oneweekMission{
    display: flex;
    justify-content: space-around;
}

.learnParts{
    font-size: var(--font-base);
}

.partsWrap{
    display: flex;
    gap: 80px;
    margin-top: 24px;
    align-items: center;
    img{
        width: 100px;
        height: auto;
    }
}

.level{
    font-size: var(--font-md);
}
.makeup{
    font-size: var(--font-lg);
}

.movieWrap{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.nextMovie{
    font-size: var(--font-base);
}